#first_page{
    background-color: #fa4734;
   
    background-color: transparent;
    text-align: center;
    color: rgb(234, 241, 241);
  
}
h1 {
    display: inline-block;
    font-size: 7.2rem;
    color: rgb(19, 112, 7);
    margin-top: 5%;
    margin-bottom:2px;
}

body{
    background-image: url("homebg\ \(2\).jpeg");
    background-size: 100%;
}
span.a {
    display: inline; /* the default for span */
    width: 100px;
    height: 100px;
    margin-left:60%;  
    color: rgb(97, 16, 202);
  }

#curb{
    font-size: 3.2rem;
    color: rgb(19, 112, 7);
};