#first_page{
    background-color: #fa4734;
   
    background-color: transparent;
    text-align: center;
    color: rgb(234, 241, 241);
  
}
h1 {
    display: inline-block;
    font-size: 9.2rem;
    color: rgb(234, 241, 241);
    margin-top: 10%;
}

body{
    background-image: url("indian-menu-at-the-the.jpg");
    background-size: 100%;
}

#curb{
    font-size
}