body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.home {
    text-align: right;
    margin-top: 20px;
    margin-right:10px ;
}
.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 4px 2px 4px 2px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #c0c6ce;
    color: #e47070;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #e5ebf0;
}
p{
    text-align: center;
}